<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nas Web</title>
</head>
<body>
{% if request.session.is_logged_in %}
  <h1>파일 및 디렉토리 목록</h1>
  <ul>
    {% for file_name in file_list %}
      <li>
      <form method="POST" action="/download/" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="file_name" value="{{ file_name }}">
          <input type="hidden" name="file_path" value="." />
          <button type="submit" style="background:none;border:none;color:blue;text-decoration:underline;cursor:pointer;font-size: 18px;">
            {{ file_name }}
          </button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  {% include "LoginPage.html" %}
{% endif %}

</body>
</html>